* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
img {
  vertical-align: middle;
}
html {
  font-size: 12px;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: 0.25;
  font-weight: 400;
  word-break: keep-all;
}
